h3 {
  font-family: "Kanit", sans-serif;
}
p {
  font-family: "kanit", sans-serif;
}
.bg {
  background: url("./img/bg.jpg");
  background-repeat: no-repeat;
}
#float {
  position: absolute;
  font-family: "Kanit";
  color: white;
  left: 13%;
  top: 10%;

  border-top: solid;
  border-width: 0.04em;
  border-radius: 14px;
  text-align: center;
  padding: 10px;
  width: 70%;
  height: 40%;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
  background-color: black;
}
#blueTop {
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0;
  color: white;
  padding-top: 4%;
  text-align: center;
  background-color: rgb(0, 0, 112);
}

#loginArea {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 20%;
  margin-bottom: 5%;
  box-shadow: 0px 0px 2px gray;
  padding-top: 2%;
  border-top-color: rgb(9, 0, 88);
  border-top-style: solid;
  border-top-width: 8px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  padding: 5%;
}
#registerArea {
  position: absolute;
  width: 80%;
  padding: 4%;
  margin-bottom: 5%;
  left: 10%;
  top: 20%;
  box-shadow: 0px 0px 2px gray;
  padding-top: 2%;
  border-top-color: rgb(9, 0, 88);
  border-top-style: solid;
  border-top-width: 8px;
  border-radius: 10px;
  text-align: center;
  background-color: #fcf1f8;
}

div[class*="-p"] {
  width: 100%;
  height: 1px;
  background-color: rgb(204, 204, 204);
  transition: 0.8s;
}

input[type="text"],
input[type="password"] {
  border: 0;
  font-family: monospace;
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  font-family: monospace;
}
#image-widget {
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  border-radius: 50%;
  left: 40%;
  top: 20px;
}
#dashboard-pane {
  position: absolute;
  background-color: #e0e0e0;
  padding: 10px;
  width: 100%;
  margin-top: 63px;
  z-index: -500;
  left: 0%;
}
#n-bar {
  position: absolute;
  width: 100%;
  left: 0;
}

#left-pane,
#right-pane {
  background-color: white;
  border-style: none;
  box-shadow: 1px 1px 1px grey;
  border-radius: 7px;
  margin: 10px;
  margin-left: 4%;
  padding: 10px;
}
#bottom-pane {
  background-color: white;
  border-style: none;
  box-shadow: 1px 1px 1px grey;
  border-radius: 7px;
  margin-left: 2%;
  padding: 10px;
}
#tt-w {
  border-style: none;
  margin: 10px;
  box-shadow: 1px 1px 2px grey;
  border-radius: 7px;
  width: 70%;
  padding: 8px;
}
#t-label {
  color: white;
  font-family: "Kanti", sans-serif;
}
#n-tasks {
  color: white;
  font-family: monospace;
  font-size: 20px;
  opacity: 0.8;
  margin-left: 10%;
}
